<div class="col-lg-10 offset-lg-1 space">
	<div class="row space">
		<h2>本当に退会しますか?</h2>
	</div>

    <div class="row space">
    	<h4>退会すると、会員登録情報や
    	  <br>これまでの投稿履歴が閲覧できなくなります。
    	  <br>退会する場合は「退会する」をクリックしてください。
        </h4>
    </div>

    <div class="row space">
    	<%= link_to "退会しない",user_path(current_user), class: "btn btn-danger" %>
    	<%= link_to "退会する", user_withdrawal_done_path(current_user), method: :put, "data-confirm" => "本当に退会しますか?", class: "btn btn-danger" %>
    </div>
</div>