.footer-text{
	text-align:center;
}

.clearfix::after{
	content: "";
	display:block;
	clear:both;
}

.name{
	float:left;
}

.intro{
	float:left;
}

.profile-pic img{
	border-radius:50%;
}