<nav class="navbar " >
	<div class="container">
	    <div class="row">
		    <div class="col-lg-4 profile">
		    	<div class="profile-pic">
		 	      <img src="/assets/IMG_2136.PNG" width="70" height="70">
		 	    </div>
		 	    <div class="profile-comment clearfix">
            	  <p class="name">安土　智博</p><br>
            	  <p class="intro">大学卒業後、証券会社に入社。3年働いた後、英語の勉強を経て、カナダにワーキングホリデーに行く。帰国後、プログラミングスクールにて,Ruby on railsを中心に勉強して、現在に至る。</p>
            	</div>
            </div>
            <div class="col-lg-8">
                <br>
            	<i class="fab fa-twitter-square fa-3x" style="color:#00bfff"></i>
                <i class="fab fa-facebook-square fa-3x" style="color:#0000ff"></i>
            </div>
        </div>
    </div>
    <div class="container footer">
        <div class="row">
            <div class="cocl-lg-12 footer-text">
                <p>会社概要 | 広告掲載について | お問い合わせ | プライバシーポリシー</p>
                <p class="copy-right">       Copyright©Tomo Yoga          </p>
            </div>
        </div>
    </div>
</nav>
